.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    width: 450px;
    height: auto;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 0px var(--color-shadow);
    -webkit-box-shadow: 3px 3px 10px 0px var(--color-shadow);
    -moz-box-shadow: 3px 3px 10px 0px var(--color-shadow);
}

.login-form input {
    border: none;
    border-bottom: 1px solid rgb(158, 71, 158);
}

.login-form .title,
.login-form .btn-connex {
    display: flex;
    justify-content: center;
}


.login-form .btn-submit {
    border: none;
    padding: 10px;
    background: rgb(158, 71, 158);
    color: #fff;
    border-radius: 10px;
}
